/.DS_Store
/.beacon
/.localized
/5001 Lab Jan.12.py
/Final project.py
/HW 10
/HW08
/HW4.py
/HW9
/README.md
/README.md.py
/README.md.txt
/Zoom
/__pycache__
/activity5.py
/bug_0.py
/bug_1.py
/bug_2.py
/bug_3.py
/coding prac 04
/coding prac 05
/coding prac 06
/coding prac 07
/coding prac 08
/coding prac 09
/coding prac 12
/coding prac02
/codingprac 03
/codingpractice05
/design_star_rating_app.pdf
/game_helper.py
/group06.py
/lab05b.py
/lab06.py
/number_magic.py
/s.py
/solution
/star_rating_app.py
/subcipher.py
/test_game_helper.py
/test_number_magic.py
/test_star_rating_app.py
/while_loop.py